.trxn-edit-form__label {
    font-size: 18px;
    margin-right: 20px;

}


.trxn-edit-form__input {
    font-size: 14px;
    border-radius: 10px;
    padding: 3px 15px;

}

.form-group {
    display: inline-block;
}

.trxn-edit-form__submit-btn {
    font-size:16px !important;
    /* width: 50%; */
}